*{
    padding: 0;
    margin: 0;
}
.dn {
    display: none;
}

img {
    width: 100%;
    height: auto;
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
select {
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img[src=""] {
    display: none;
}

/*====== 建议body给稿子底色背景 ==============*/
body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #1c2a8f;
}

//表单提示文字颜色
// ::-webkit-input-placeholder {
//     // color: #ee9918;
// }

.pg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

//定义设计稿宽度
@screenWidth: 750;
//换算vw
@vw : @screenWidth/100vw;

.setwh(@w: 750, @h: 1448) {
    width: @w/@vw;
    height: @h/@vw;
}


//less 定位函数 左上
.lt(@l: 0, @t: 0) {
    position: absolute;
    left: @l/@vw;
    top: @t/@vw;
}

//右上
.rt(@r: 0, @t: 0) {
    position: absolute;
    right: @r/@vw;
    top: @t/@vw;
}

//less 定位函数 左下
.lb(@l: 0, @b: 0) {
    position: absolute;
    left: @l/@vw;
    bottom: @b/@vw;
}

//右下
.rb(@r: 0, @b: 0) {
    position: absolute;
    right: @r/@vw;
    bottom: @b/@vw;
}

.cl(@w) {
    position: absolute;
    left: 50%;
    margin-left: -@w/2/@vw;
}

.ct(@h) {
    position: absolute;
    top: 50%;
    margin-top: -@h/2/@vw;
}
.box{
    .page1{
        .scenery{
            .setwh(821, 847);
            .cl(821);
            top: 13 / @vw;
        }
        .ship{
            .setwh(71, 131);
            .rt(277,550);
            
        }
        .glass{
            .setwh(750, 882);
            .cl(750);
            top: 0;
        }
        .tree{
            .setwh(173, 157);
            .rt(5,435);
        }
        .left-curtain{
            .setwh(221, 900);
            .lt(0,0);
        }
        .right-curtain{
            .setwh(200, 900);
            .rt(0,0);
        }
        .logo{
            .setwh(123, 165);
            .cl(123);
            top: 51 / @vw;
        }
        .slogan{
            .setwh(712,334);
            .cl(712);
            top: 250 / @vw;
        }
        .ellipse{
            .setwh(630, 503);
            .lt(10,585);
        }
        .peoplebox{
            .setwh(750,460);
            .cl(750);
            top: 684 / @vw;
            .sofa{
                .setwh(717, 389);
                .cl(717);
                top: 45 / @vw;
            }
            .man{
                .setwh(409, 257);
                .lt(122,0)
            }
            .man1{
                .setwh(409, 257);
                .lt(122,0)
            }
            .vasebox{
                .setwh(202, 255);
                .rb(0,0);
                .flower{
                    .setwh(209, 180);
                    .rt(0, 0)
                }
                .vese{
                    .setwh(117, 84);
                    .rb(15,0)
                }
            }
        }
        .text2{
            .setwh(493, 129);
            .cl(493);
            bottom: 203 / @vw;
        }
        .btnbox{
            .setwh(224, 115);
            .cl(224);
            bottom: 70 / @vw;
        }
        .orthogon{
            padding: 15 / @vw;
        }

    }
}



